body {
    background-color: #0F0D13;
    color: #fff ;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 266px 356px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.rigth{
   gap: 10px;
   margin-left: 32px;
}   

.caixa1 {
    height: 498px;
    background-color: #2A2141;
    border-radius: 5px;
    justify-content: center;
}

.caixa1 img {
   margin: 30px;
   margin-left: 38.5px;
}

.caixa1 .name-music {
    /* text-align: start; */
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 60px;
}

.caixa2 {
    width: 357px;
    height: 266px;
    background-color: #2A2141;
    margin-bottom: 32px;
    border-radius: 5px;
}

.caixa2 img {
    margin: 30px;
}

.caixa2 .img-text {
    align-items: center;
}

.caixa3 {
    width: 357px;
    height: 199px;
    background-color: #2A2141;
    border-radius: 5px;

}

.caixa3 img {
    margin: 30px;
}

.caixa3 .img-text {
    align-items: center;

}

.name-music {
    font-size: 1rem;
    line-height: 10px;
}


.btn-player {
    display: flex;
    align-items: center;
    gap: 55px;
    justify-content: center;
}


.img-text {
    display: flex;
    gap: 5px; 
}

.time {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}


.caixa1 .time {
    margin-top: 5px;
}

.caixa2 .time {
    margin-top: 10px;
}


.track {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.track::before {
    content: "";
    height: 6px;
    width: 80%;
    display: block;
    background-color: #D9D9D9;
    opacity: 0.3;
    border-radius: 10px;
    position: absolute;
    margin-left: 26px;
}   

.track::after {
    content: "";
    height: 6px;
    width: 60%;
    display: block;
    background-color: #b3b3c0;
    border-radius: 10px;
    margin-left: 26px;

}

